<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet" />
  <!--Agradecimientos especiales a boostrap y fontawesome, 
        licencia en /View/CSS/LICENSE.txt -->
  <link rel="icon" href="/etica/View/IMG/favicon.ico">
  <link rel="stylesheet" href="/etica/View/CSS/bootstrap.min.css" />
  <link rel="stylesheet" href="/etica/View/CSS/styles.css" />
  <link rel="stylesheet" href="/etica/View/CSS/all.min.css" />
  <link rel="stylesheet" href="/etica/View/CSS/fontawesome.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <title>Lácteos del padro</title>
</head>

<body>
  <div class="container-fluid center">
    <header></header>
    <nav></nav>
    <br>
    <br>
    <div class="Inicio"></div>
    <h1 style="text-decoration: underline;">Actividad Uno</h1>
    <br>
    <br>
    <iframe width="720" height="515" src="https://www.youtube.com/embed/JYJakoGzjbk">
    </iframe>
  <section class="page-section pb-5">
  </section>
    <footer></footer>
  </div>
  <!-- JQuery es maravilo -->
  <script src="/etica/Controller/JS/jquery-3.5.1.min.js"></script>
  <script src="/etica/Controller/JS/jquery.includeHTML.min.js"></script>
  <!-- Aquí se mandan a llavar los otros archivos HTML-->
  <script>
    $(document).ready(function () {
      $("header").loadHTML("/etica/View/HTML/Elementos/header.html");
      $("nav").loadHTML("/etica/View/HTML/Elementos/nav.html");
      $("div .Inicio").loadHTML("/etica/View/HTML/Inicio/Inicio.html");
      $("div .Web").loadHTML("/etica/View/Coso/actividadUno/ControlLecutraRaulPenate.html");
      $("footer").loadHTML("/etica/View/HTML/Elementos/footer.html");
    });
  </script>
</body>

</html>