<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/etica/index.html">
    <img src="/etica/View/IMG/fair.png" class="logo-unicaes" alt="" /> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- haber si cambia hoy -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="hoverItemOne nav-link" href="/etica/index.html">
          Inicio
          <i class="hoverItemTwo fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="hoverItemOne nav-link dropdown-toggle" href="" id="navbarDropdown" role="button"
          data-toggle="dropdown">
         Periodos
          <i class="hoverItemTwo fas fa-sun fa-spin"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            href="/etica/View/HTML/Categorias/periodouno.html">
            Periodo 
            <i class="fas fa-dice-one"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="/etica/View/HTML/Categorias/periododos.html">
            Periodo
            <i class="fas fa-dice-two"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            href="/etica/View/HTML/Categorias/periodotres.html">
            Periodo
            <i class="fas fa-dice-three"></i>
          </a>
        </div>
      </li>
      </li>
      <li class="nav-item">
        <a class="hoverItemOne nav-link"
          href="/etica/View/HTML/Elementos/about.html">Acerca
          <i class="hoverItemTwo fas fa-question-circle "></i>
        </a>
      </li>
    </ul>
  </div>
          <script src="/etica/Model/store.js"></script>
</nav>
